.rsvp-background {
  background-image: url(../img/rsvp-bg.jpg);
  background-size: cover;
}

.rsvp {

  @include container;
  padding: 1em 1em;
  background-color: $white;

  h1 {
    width: 100%;
    text-align: center;
    color: $dark-blue;
    font-size: 4em;
    @include mq {
      font-size: 6em;
    }
    font-family: $ff-c;
    font-weight: $fw-n;
  }
}

form {
  display: flex;
  flex-direction: column;
  font-family: $ff-s;

  @supports (display: grid) {
    @include mq {
      display: grid;
      grid-column: 1fr 1fr;
      grid-column-gap: 1em;
      grid-template-areas:
      "name    email"
      "attend   attend"
      "message message"
      "    .   button";

      .name {
        grid-area: name;
      }

      .email {
        grid-area: email;
      }

      .attend {
        grid-area: attend;
        ::placeholder {
          color: darken($dark-blue, 70%);
        }
      }

      .message {
        grid-area: message;
        textarea {
          height: 10em;
        }
      }

      .button {
        grid-area: button;
        cursor: pointer;

      }
    }
  }
}

label {
  display: block;
  margin-top: 1em;
  color: $dark-blue;
}

input,
textarea {
  box-sizing: border-box;
  display: block;
  padding: .25em;
  width: 100%;
  min-width: 15em;
  background: lighten($dark-gray, 65%);
  border: 1px solid lighten($dark-gray, 55%);
  font-size: 1.2rem;


}

.button {
  display: inline-block;
  width: auto;
  min-width: auto;
  margin-top: 1em;
  margin-left: auto;
  background: $pink;
  border: none;
  border-radius: 4px;
  text-shadow: 0px -1px 0px rgba(0,0,0,.5);
  @include serif($fs: 2rem, $color: $white);
  padding: .5em 1.5em;

  &:hover {
    background: darken($pink, 10%);
  }

}
